
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .body-content {
        position: initial;
        top: initial;
    }
</style>
<div class="container-fluide yellow-member-bg">

</div>
<div class="conainer-fluide yello-colxhead">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Yellow MEMBERSHIP
                </h2>
                <h3>
                    Rs.10,000 Per Month
                </h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="yello-m-package">
                    <h3>
                        What we offers in this package
                    </h3>
                    <ul>
                        <li>
                            Hot Desk
                        </li>
                        <li>
                            Internet/Networking
                        </li>
                        <li>
                            Electricity & Generator
                        </li>
                        <li>
                            Cooling And Heating Systems
                        </li>
                        <li>
                            Digital And Hardbook Library
                        </li>
                        <li>
                            Gaming Area
                        </li>
                        <li>
                            Bean Bag Environment
                        </li>
                        <li>
                            Free Events
                        </li>
                        <li>
                            *Food
                        </li>
                        <li>
                            Mentorship
                        </li>
                        <li>
                            Meeting Room
                        </li>
                        <li>
                            *Lockers
                        </li>
                        <li>
                            Gadget Zone
                        </li>

                    </ul>
                    <div>
                        <p>
                            *WILL BE PROVIDED ON DEMAND SUBJECTED TO EXTRA CHARGES
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="links-yellocolx">
                    <a href="https://docs.google.com/forms/d/1CFrmTl_m9665SFjtSpJ2-8T4LrbxgS4KfMGac-lca54/viewform?edit_requested=true" class="become-member" target="_blank">
                        Become a Member
                    </a>
                    <a href="Home#membership" class="other-package">
                        See Other Packages
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

