<connectionStrings>

 <add name="LaunchpadDataContext" connectionString="data source=ms-dc-02\sql2008;initial catalog=LaunchpadDB; Integrated Security=true;user id=sa; password=sa; multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />

  <!--<add name="LaunchpadDataContext" connectionString="data source=(local);initial catalog=LaunchpadDb; Integrated Security=False;user id=sa; password=sa; multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->

</connectionStrings>

