@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--Register Starts-->
<div class="container">
    <div class="row">
        <div class="col-12 registerHeading">
            <h2>Registration</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 registerSection">
            <h4>Personal Information</h4>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Name:</label>
                    <input type="text" required="required" placeholder="Name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label for="registerGender">Gender:</label>
                    <select class="form-control" id="registerGender">
                        <option>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Profession:</label>
                    <input type="text" required="required" placeholder="Profession" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>City:</label>
                    <input type="text" required="required" placeholder="City" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Email:</label>
                    <input type="email" required="required" placeholder="Email" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Phone Number:</label>
                    <input type="text" required="required" placeholder="Phone Number" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 registerSection">
                <h4>Company Information</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Company Name:</label>
                    <input type="text" placeholder="Company Name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Website:</label>
                    <input type="text" placeholder="Company Website" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Company Detail:</label>
                    <textarea placeholder="Company Detail"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Team Members:</label>
                    <input type="text" placeholder="Team Members" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 registerSection">
                <h4>Package Information</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="registerLabel">
                    <label for="registerPackage">Package:</label>
                    <select class="form-control" id="registerPackage">
                        <option>Package</option>
                        <option>Virtual</option>
                        <option>Dedicated Desk</option>
                        <option>Private Office (6 Team Members)</option>
                        <option>Private Office (12 Team Membes)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="registerLabel">
                    <label>Joining Date:</label>
                    <input type="date" placeholder="joining Date" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="registerLabel">
                    <label for="registerPayment">Payment Method:</label>
                    <select class="form-control" id="registerPayment">
                        <option>Payment Method</option>
                        <option>Cash</option>
                        <option>Cheque</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row registerRow">
            <div class="col-12">
                <label>About LaunchPad7:</label>
                <textarea placeholder="How you know about LaunchPad7?"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">          
                    <button type="submit" class="btn btn-warning registerButton">Submit</button>              
            </div>
        </div>

    </form>
    

</div>
<!--Register Ends-->
