
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FiveDays</title>
</head>
<body>
    <div> 
        <h2>Five Days Automate Emails!   @DateTime.Now</h2>
    </div>
</body>
</html>
